<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {{ vite_entry_script_tags('app') }}
</head>
<body>
    ohasfiuhas
    <div id="app" data-page="{{ inertia.page|json_encode }}"></div>
</body>
</html>
